[Unit]
Description=ReefLight Server script

[Service]
WorkingDirectory=/home/pi/ReefLight
ExecStart=/usr/bin/python3 /home/pi/ReefLight/reeflight_server.py
User=pi
Restart=always
[Install]
WantedBy=multi-user.target
