[Unit]
Description=ReefLight Control script
After=multi-user.target

[Service]
Type=idle
WorkingDirectory=/home/pi/ReefLight/reeflight_control_script
ExecStart=/usr/bin/python3 /home/pi/ReefLight/reeflight_control_script/reeflight_control_script.py

[Install]
WantedBy=multi-user.target
