<html>
  <head>
    <title>ReefLight</title>
    <script src='jquery-3.3.1.js'></script>
    <script>var settings</script>
    <link rel='stylesheet' href='style.css'/>
  </head>
  <body>
    {% include 'header.html' %}
    <table id='manual_table' ></table>
    <script>
    function load_data() {    
      jQuery.getJSON('settings.json', 
      function(json){
          console.log('received JSON:');
          console.log(json);
          settings = json;
        
          // fill table
          $('#manual_table tbody').remove(); 
          var tBody = $('<tbody />').appendTo($('#manual_table'));      
          for(c=0; c<settings.channels.length; c++) {
            channel = settings.channels[c]

            var row = $('<tr />').appendTo(tBody);
            
	    // name
            $('<td />', {text: channel.name}).appendTo(row);
            // manual mode checkbox
            var input = $('<input />', {
              'type':'checkbox', 
              'id':'manual_'+c,
              'checked':channel.manual,
              'onclick':'update('+c+',false,true)'
            })
            $('<td />', {text: '<input type="text">'})
              .html(input)
            .appendTo(row);
            // slider
            $('<td />', {text: '<input type="text">'})
              .html($('<input />', {
                'type':'range', 
                'id':'percentage_'+c, 
                'value':+channel.val,
                'onchange':'update('+c+',true,false)'
              }))
            .appendTo(row);

          }
        })
        .fail(function(jqXHR, textStatus, errorThrown) { 
          alert('getJSON request failed! ' + textStatus); 
        });
    }  
      
    function update(c, slider = false, checkbox = false) {
      if(slider) {
        console.log('change in slider '+c)
        $('#manual_'+c).prop('checked', true)
      }
      if(checkbox) {
        console.log('change in checkbox '+c);
      }
        
      settings['channels'][c]['manual'] = $('#manual_'+c).prop('checked')
      settings['channels'][c]['percentage'] = parseFloat($('#percentage_'+c).val());

      console.log('send JSON:')
      console.log(settings);
      var xmlhttp = new XMLHttpRequest();
      xmlhttp.open('POST', '/save');
      xmlhttp.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
      xmlhttp.send(JSON.stringify(settings));
        
      load_data(); 
      
    }
    load_data();
    </script>
  </body>
</html>
